aiofiles==0.5.0
aniso8601==7.0.0
async-exit-stack==1.0.1
async-generator==1.10
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
dnspython==2.0.0
email-validator==1.1.2
emoji==0.6.0
fastapi==0.62.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
h11==0.9.0
httptools==0.1.1; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
mimesis==4.1.2
orjson==3.4.6
promise==2.3
pydantic==1.7.3
python-multipart==0.0.5
pyyaml==5.3.1
requests==2.25.0
rx==1.6.1
six==1.15.0
starlette==0.13.6
ujson==3.2.0
urllib3==1.26.2
uvicorn==0.11.8
uvloop==0.14.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
websockets==8.1
